@keyframes bolderLine {
    from {
        border: 1px aliceblue solid;
    }
    to {
        border: 5px aliceblue solid;
    }
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgba(221, 221, 221, 0.836);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4343434f;
    color: rgba(221, 221, 221, 0.836);
    border-radius: 30px;
    padding: 30px;
}
div p{
    font-family: monospace;
    font-size: 17px;
    font-weight: lighter;
}
div table {
    padding: 15px;
    border-spacing: 18px;
}
div th {
    padding: 18px;
}
div a {
    padding: 15px;
    color: aliceblue;
    text-decoration: none;
    border: 1px aliceblue solid;
}
div a:hover {
    animation-name: bolderLine;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}